#divone{
	background-color: powderblue;
}

#vdiv{
	font-size: 22px;
}
 .cdiv{
	font-weight: bold;
}
header{
    background-color: powderblue;    
}
h1{
    font-size:16px
}
button{
    font-size: 22px; 
}
.item img {
      height: 70%;
      width: 100%;
}
.navbar-default{
     background-color: powderblue; 
}

p.primeralinea {
  text-align:center;
}